if TARGET_MX6SXSMARCORE

config SYS_BOARD
	default "mx6sxsmarcore"

config SYS_VENDOR
	default "engicam"

config SYS_CONFIG_NAME
	default "mx6sxsmarcore"

config IMX_CONFIG
	default "board/engicam/mx6sxsmarcore/imximage.cfg"

config MX6SXSABRESD_EMMC_REWORK
	bool "Select for the board with eMMC rework"

config SYS_TEXT_BASE
	default 0x87800000
endif
